{% extends 'myapp/base/master.html' %}
{% load static %}


{% block title%}Welcome!{% endblock %}
{% block site_css %}
<link rel = "stylesheet" href = "{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
Days of Week
{% endblock %}

{% block header_content %}
<p>Today it's {{day|lower}}</p>
{% endblock %}


{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% if show_days == True %}
            {% for d in daysOfWeeks %}
                {% include 'myapp/includes/day-item.html' with day_name=d.name day_time=d.time%}
            {% endfor %}
        {% else %}
            <div class="meetup-summary">
                <div class="meetup-image">
                    <img src="" alt="">
                </div>
                <div class = "meetup-details">
                    <h3>There are no information</h3>
                    
                </div>
            </div>  
        {% endif %}
    </ol>
</section>

{% endblock %}
