<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="" alt="">
            </div>
            <div class = "meetup-details">
                <h3>{{day_name}}</h3>
                <h1>Clima: {{day_time}}</h1>
                
            </div>
        </div>
        <div class="meetup-actions">
            <a href="{% url 'day-detail' d.slug %}" class = "btn"> More Details</a>

        </div>
    </article>
</li>